@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');
@import url(../../bar_style.css);
@import url(../../componentes.css);

*{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root{
    --whiter: white;
    --gray-peace: rgb(236, 236, 236); 
    --sotf-night: rgb(44, 44, 62);
    --gray-night: rgb(26, 26, 46);
    --gray-low: rgb(195, 195, 195);
    --gren_sales: #06B802;
    --golden_admin: #FEB70A;
    --golde_variant: #f1ae0f;
    --apple: #FF4D30;
    --home_blue: rgb(35, 116, 255);
    --padding: 10px;
    --margin: 16px;
}

main{

    justify-content: start;
    align-items: center;
    padding: 3vh;
}


.admin__content{
    margin: 5vh;
    width: 110vh;
    height: 26.5vh;
}

.content__options{
    background-color: var(--golden_admin);
    width: 100%;
    height: 90%;
    padding: 2vh;
    display: flex;
    align-items: center;
}

.content__title{
    background-color: var(--golde_variant);
    width: 30vh;
    height: 15%;
    font-size: 3vh;
    padding-left: 3vh;
    padding-bottom: 5vh;
    color: var(--whiter);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > input{
    width: 90%;
    font-size: 2vh;
    padding: 1vh;
    height: 5vh;
    margin: 1vh;
    border: none;
    outline: none;
    background-color: var(--gray-peace);
    border-radius: 2vh;
}

.btn_add{
    font-size: 3vh;
    padding-bottom: 5vh;
}

.btn_add:hover{
    cursor: pointer;
    background-color: var(--gren_sales);
    color: var(--whiter);
}

form > input:focus{
    border-bottom: 0.5vh solid var(--gren_sales);
}