@import url(slider.css);
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');

html{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
}

:root{
    --whiter: white;
    --gray-peace: rgb(236, 236, 236); 
    --gray-night: rgb(26, 26, 46);
    --padding: 10px;
    --margin: 16px;
}

body{
    height: 90vh;
    background-color: var(--gray-peace);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.night{
    background-color: var(--gray-night);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_menu{
    display: flex;
    align-items: center;
}

.img_icon{  
    padding: var(--margin);
    margin-bottom: var(--margin);
}

.btn_theme{
    width: 100px;
    height: 100px;
}
