@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(componentes.css);


*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

:root{
    --whiter: white;
    --gray-peace: rgb(236, 236, 236); 
    --sotf-night: rgb(44, 44, 62);
    --gray-night: rgb(26, 26, 46);
    --gray-low: rgb(195, 195, 195);
    --gren_sales: #06B802;
    --golden_admin: #FEB70A;
    --apple: #FF4D30;
    --home_blue: rgb(96, 154, 255);
    --padding: 10px;
    --margin: 16px;
}

body{
    background-color: rgb(243, 243, 243);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back{
    border-radius: 2vh;
    background-color: var(--apple);
    outline: none;
    border: none;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

header{
    padding: 3vh;
    background-color: var(--apple);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

header > h1{
    position: absolute;
    left: 50%;
    color: var(--whiter);
    transform: translate(-50%, -0%);
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add__form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.add__form > h2{
    font-size: 3vh;
    margin-bottom: 2vh;
    color: var(--apple);
}

.add__form > [required]{
    font-size: 2vh;
    width: 85%;
    height: 5vh;
    margin: 0.5vh;  
    border-radius: 1.5vh;
    outline: none;
    border: 0.2vh solid var(--gray-low);
    padding-left: 4%;
    padding-right: 4%;
}

.form__submit{
    margin-top: 2vh;
    outline: none;
    border: none;
    background-color: var(--whiter);
    box-shadow: 0px 0px 5px 3px rgba(211, 97, 93, 0.173);
    width: 20vh;
    height: 5vh;
    border-radius: 2vh;
    font-size: 2vh;
    cursor: pointer;
}

.form__submit:hover{
    scale: 1.1;
    color: var(--apple);
    box-shadow: 0px 0px 5px 3px rgba(121, 211, 93, 0.173);
    font-size: 2.2vh;
}

.card__mostrar{
    padding: 1vh;
    font-size: 2vh;
    outline: none;
    border: none;
    color: var(--apple);
    border-bottom: 0.3vh solid var(--apple);
    margin-bottom: 2vh;
}

.card__mostrar:hover{
    cursor: pointer;
    scale: 1.1;
}

a{
    text-decoration: none;
    color: var(--apple);
}

.contenedor__lista{
    margin-top: 2vh;
    width: 90%;
}

.content_table{
    width: 100%;
    overflow-y: scroll;
    height: 70vh;
}

table {
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;
    background-color: #f3f3f3;
    border-radius: 2vh;
}

thead {
    background-color: var(--apple);
    color: #ffffff;
    height: 5vh;
    padding: 5vh;
}

thead :first-child {
    border-top-left-radius: 2vh;
}

thead :last-child{
    border-top-right-radius: 2vh;
}

thead th {
    font-size: 1.5vh;
    padding: 1.5vh;
    text-align: center;
}

tr > td:last-child{
    text-align: right;
}

tbody td {  
    text-align: center;
    font-size: 1.5vh;
    padding: 1.5vh;
}

tbody tr:hover{  
    background-color: rgb(238, 238, 238)
}

.edit__form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.vista__edit{
    width: 40vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
}

.edit__form > [required]{
    font-size: 2vh;
    width: 95%;
    height: 5vh;
    margin: 0.5vh;  
    border-radius: 1.5vh;
    outline: none;
    border: 0.2vh solid var(--gray-low);
    padding-left: 4%;
    padding-right: 4%;
}

.edit__form > h2{
    font-size: 3vh;
    margin-bottom: 2vh;
    color: var(--gren_sales);
}

.edit__submit{
    margin-top: 2vh;
    outline: none;
    border: none;
    background-color: var(--whiter);
    box-shadow: 0px 0px 5px 3px rgba(107, 211, 93, 0.173);
    width: 20vh;
    height: 5vh;
    border-radius: 2vh;
    font-size: 2vh;
    cursor: pointer;
}

.edit__submit:hover{
    scale: 1.1;
    color: var(--gren_sales);
    box-shadow: 0px 0px 5px 3px rgba(121, 211, 93, 0.173);
    font-size: 2.2vh;
}

.close__btn{
    position: absolute;
    right: 1%;
    top: 1%;
    border: none;
    border-radius: 1.5vh;
    color: rgb(134, 134, 134);
    font-size: 2.5vh;
    font-weight: 600;
    background-color: var(--whiter);
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

.close__btn:hover{
    color: red;
    scale: 1.1;
}


/* Estilos para el fondo oscuro */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

@media (max-width:900px) {
    .content{
        min-width: 10vh;
        width: 80%;
    }

    .content_table{
        width: 100%;
    }
    .contenedor__lista{
        width: 100%;
    }
}
