body{
    height: 100vh;
    background-color: var(--gray-peace);
    display: grid;
    grid-template-rows:  repeat(4, 1fr);
    grid-template-columns: 0.7fr repeat(3, 1fr);
    grid-template-areas: 
    "a m m m"
    "a m m m"
    "a m m m"
    "a m m m";
}

.content_aside{
    background-color: var(--gray-peace);
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_icon{
    width: 15vh;
    height: 15vh;
    margin-top: 50px;
    margin-bottom: 5vh;
}

.content_nav{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure{
    height: 6vh;
    width: 25vh;
    margin-bottom: 1vh;
}

a{
    text-decoration: none;
}

a > div{
    color: black;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
    font-size: 4vh;
}

a:hover{
    cursor: pointer;
}

.button__aside--inicio > div:hover{
    background-color: var(--home_blue);
    color: var(--whiter);
    font-weight: bolder;
}
.button__aside--admin > div:hover{
    background-color: var(--golden_admin);
    color: var(--whiter);
    font-weight: bolder;
}
.button__aside--venta > div:hover{
    background-color: var(--gren_sales);
    color: var(--whiter);
    font-weight: bolder;
}

main{
    background-color: var(--whiter);
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
}