@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');
@import url(componentes.css);

*{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root{
    --whiter: white;
    --gray-peace: rgb(236, 236, 236); 
    --sotf-night: rgb(44, 44, 62);
    --gray-night: rgb(26, 26, 46);
    --gray-low: rgb(195, 195, 195);
    --gren_sales: #06B802;
    --golden_admin: #FEB70A;
    --apple: #FF4D30;
    --home_blue: rgb(35, 116, 255);
    --padding: 10px;
    --margin: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--whiter);
}

.login-container{
    border: 1vh solid var(--gren_sales) ;
    border-radius: 0vh 5vh 5vh 0vh;
    width: 70vh;
    height: 90vh;
    background-color: var(--whiter);
    text-align: center;
    padding: var(--padding);
}

.design-container{
    background-color: var(--gren_sales);
    border-radius: 5vh 0vh 0vh 5vh;
    width: 40vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiter);
}

i{
    font-size: 20vh;
}

.login-container > h2{
    font-size: 5vh;
    margin-bottom: 2vh;
}

.login-container > form{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input{
    font-size: 3vh;
    padding: 1vh;
    margin: 1vh;
    border-radius: 2vh;
    border: none;
    background-color: var(--gray-peace);
    outline: none;
    width: 50vh;
    height: 10vh;
}

form > input::placeholder{
    font-size: 3vh;
}

form > input:focus{
    border-bottom: 1vh solid var(--gren_sales);
}

img{
    margin-top: 4vh;
    width: 20vh;
    height: 20vh;
}

.btn__submit{
    font-size: 3vh;
}

.btn__submit:hover{
    background-color: var(--gren_sales);
    cursor: pointer;
    color: var(--whiter);
}

p{
    font-size: 2vh;
}

p:hover{
    color: var(--gren_sales);
    cursor: pointer;
}

.back{
    position: absolute;
    top: 1vh;
    left: 1vh;
    text-decoration: none;
    text-align: center;
}

.btn_cmp:hover{
    font-size: 3vh;
}

@media (max-width:768px) {
    .design-container{
        display: none;
    }

    .login-container{
        border: 1vh solid var(--gren_sales) ;
        border-radius: 5vh;
        width: 50vh;
        height: 90vh;
    }

    form > input{
        width: 90%;
        height: 10vh;
    }
}