@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');
@import url(bar_style.css);

*{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root{
    --whiter: white;
    --gray-peace: rgb(236, 236, 236); 
    --sotf-night: rgb(44, 44, 62);
    --gray-night: rgb(26, 26, 46);
    --gray-low: rgb(195, 195, 195);
    --gren_sales: #06B802;
    --golden_admin: #FEB70A;
    --apple: #FF4D30;
    --home_blue: rgb(35, 116, 255);
    --padding: 10px;
    --margin: 16px;
}

.container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--whiter);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "s p p p"
    "s p p p"
    "s p p p"
    "s p p p";
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.cards__cat{
    grid-area: s;
    min-width: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-right: 1vh dashed var(--gren_sales);
}

.card__cat{
    position: relative;
    width: 95%;
    height: 90%;
    margin: var(--margin);
    border-radius: 3vh;
}

.card__cat:hover{
    scale: 1.05;
    cursor: pointer;
}

.card__cat > img{
    width: 100%;
    height: 100%;
    border-radius: 3vh;
    object-fit: cover;
    position: absolute;
}

.cards{
    grid-area: p;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 30vh);
    justify-content: center;
    gap: 2vh;
    width: 100%;
    height: 100%;
    padding: 2vh;
}

.card{
    width: 100%;
    height: 100%;
    min-height: 25vh;
    background-color: var(--gray-low);
    border-radius: 4vh;
    display: grid;
    align-items: end;
    position: relative;
}


.card > img{  
    width: 100%;
    height: 100%;
    border-radius: 4vh;
    object-fit: cover;
}


.card__info{
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    padding: 0.2vh;
    display: flex;
    color: var(--whiter);
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.617);
    border-radius: 0px 0px 4vh 4vh;
}

.info_paragraph{
    overflow-y: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    font-size: 1.5vh;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border-right: 1px solid var(--whiter);
}

.info_paragraph > p{
    margin: 0.2vh;
}

.card__plus{
    font-size: 1.3vh;
    width: 40%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.card__plus > p{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    width: 100%
}

header{
    display: none;
}

@media (max-width:768px) {
    body{
        height: 100vh;
        background-color: var(--gray-peace);
        display: grid;
        grid-template-rows: 0.2fr repeat(3, 1fr);
        grid-template-columns: 0.7fr repeat(3, 1fr);
        grid-template-areas: 
        "h h h h"
        "m m m m"
        "m m m m"
        "m m m m";
    }

    .content_aside{

        display: none;
    }

    .card{
        min-height: 15vh;
        width: 100%;
        height: 100%;
        background-color: var(--gray-low);
        border-radius: 4vh;
        display: grid;
        align-items: end;
        position: relative;
    }

    .cards{
        grid-template-columns: repeat(3, 20vh);
        grid-template-rows: repeat(auto-fill, 20vh);
        justify-content: center;
        gap: 0.5vh;
        padding: 2vh;
        width: 100%;
        height: 95vh;
    }

    .container{
        overflow: hidden;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "s s s s"
        "p p p p"
        "p p p p"
        "p p p p";
    }
    
    .cards__cat{
        padding: 0;
        overflow-x: auto;
        overflow-y: hidden;
        display: grid;
        grid-template-columns: repeat(5, 1.5fr);
        grid-template-rows: 15vh;
        height: 16vh;
        width: 100%;
        justify-content: start;
        align-items: center;
        margin: 0;
        border-bottom: 1vh dashed var(--gren_sales);
        border-right: none;
        /* overflow: scroll;
        flex-direction: row;
        width: 100%;
        height: 30%;
        padding: 0px; */
    }

    .card__cat{
        width: 30vh;
        height: 95%;
        margin: var(--margin);
        border-radius: 3vh;
    }

    .header{
        grid-area: h;
        height: 100%;
        background-color: #06B802;
        display: flex;
        align-items: center;
        padding-left: 5%;
    }

    .bx{
        cursor: pointer;
        font-size: 5vh;
        color: var(--whiter);
        width: 5vh;
        height: 5vh;
    }
    
    .bx:hover{
        scale: 1.1;
    }

    .menu-hamburguesa {
        display: inline-block;
        cursor: pointer;
    }
    
    .menu-hamburguesa div {
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
    }
    
    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        width: 30vh;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #333;
    }
    
    .nav-links li {
        margin: 10px 0;
    }
    
    .nav-links li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
    }
    
    .nav-links li a:hover {
        color: #06B802;
    }

    .nav-links.show {
        z-index: 100;
        position: absolute;
        left: 0vh;
        top: 6vh;
        display: flex;
    }
}


