@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');
@import url(bar_style.css);

*{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root{
    --whiter: white;
    --gray-peace: rgb(236, 236, 236); 
    --sotf-night: rgb(44, 44, 62);
    --gray-night: rgb(26, 26, 46);
    --gray-low: rgb(195, 195, 195);
    --gren_sales: #06B802;
    --golden_admin: #FEB70A;
    --golde_variant: #f1ae0f;
    --apple: #FF4D30;
    --home_blue: rgb(35, 116, 255);
    --padding: 10px;
    --margin: 16px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__venta{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.venta__busqueda{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    width: 90%;
    height: 15%;
    display: flex;
    padding: 2vh;
    align-items: center;
    justify-content: space-between;
}

.busqueda__content{
    outline: none;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 1vh dotted var(--gren_sales); */
}

.barra__busqueda{
    width: 90%;
    height: 40%;
    margin-right: 1vh;
}

.barra__limpiar{
    background-color: #FF4D30;
    height: 40%;
    width: 20%;
    color: var(--whiter);
    font-size: 2vh;
}


.busqueda__add{
    /* background-color: #f1ae0f; */
    outline: none;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.busqueda__add > label{
    font-size: 3vh;
    margin-right: 1vh;
}

.add__cant{
    height: 40%;
}

.add__button{
    background-color: var(--gren_sales);
    height: 40%;
    width: 20%;
    font-size: 2vh;
    color: var(--whiter);
    margin-left: 1vh;
    margin-right: 1vh;
}

.venta__lista{
    /* background-color: #06B802; */
    width: 90%;
    height: 50%;
}

.venta__lista > table{
    background-color: var(--gray-peace);
    width: 100%;
    height: 100%;
}

.venta__lista > table > thead{
    font-size: 3vh;
    color: var(--whiter);
    background-color: #06B802;
}

.venta__pago{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    width: 90%;
    height: 20%;
    display: flex;
    padding: 2vh;
    align-items: center;
    justify-content: space-between;
}

.venta__total{
    height: 100%;
    display: flex;
    padding: 2vh;
    align-items: center;
    font-size: 6vh;
}

.venta__pagar{
    height: 100%;
    width: 50%;
    display: flex;
    padding: 2vh;
    align-items: center;
    justify-content: end;
}

.pagar__boton{
    height: 100%;
    width: 50%;
    background-color: var(--gren_sales);
    color: var(--whiter);
    border: none;
    border-radius: 2vh;
}