@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');
@import url(../slider.css);

*{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root{
    --whiter: white;
    --gray-peace: rgb(236, 236, 236); 
    --sotf-night: rgb(44, 44, 62);
    --gray-night: rgb(26, 26, 46);
    --gray-low: rgb(195, 195, 195);
    --gren_sales: #06B802;
    --golden_admin: #FEB70A;
    --apple: #FF4D30;
    --home_blue: rgb(35, 116, 255);
    --padding: 10px;
    --margin: 16px;
}

body{
    height: 100vh;
    background-color: var(--gray-peace);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 0.5fr repeat(3, 1fr);
    grid-template-areas: 
    "a m m m"
    "a m m m"
    "a m m m"
    "a m m m";
}

.content_aside{
    background-color: var(--gray-peace);
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_icon{
    width: 130px;
    height: 130px;
    margin-top: 50px;
    margin-bottom: 30%;
}

.content_nav{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

figure{
    height: 50px;
    width: 90%;
    margin-bottom: 30px;
}

a{
   text-decoration: none;
}

a > div{
    color: black;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 30px;
}

a:hover{
    cursor: pointer;
}

.button__aside--inicio > div:hover{
    background-color: var(--home_blue);
    color: var(--whiter);
    font-weight: bolder;
}
.button__aside--admin > div:hover{
    background-color: var(--golden_admin);
    color: var(--whiter);
    font-weight: bolder;
}
.button__aside--venta > div:hover{
    background-color: var(--gren_sales);
    color: var(--whiter);
    font-weight: bolder;
}

main{
    background-color: var(--whiter);
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 98%;
    height: 98%;
    background-color: var(--whiter);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cards__cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    background-color: var(--gray-peace);
    width: 20%;
    height: 95vh;
}

.card__cat{
    width: 95%;
    margin: var(--margin);
    height: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--golden_admin);
}

.card__cat > p{
    font-size: 40px;
    color: var(--whiter);
}

.cards{
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 75%;
    height: 95vh;
    background-color: var(--gray-peace);
}

.card{
    width: 350px;
    height: 350px;
    background-color: var(--home_blue);
    border-radius: 20px;
    display: flex;
    align-items: end;
}

.card__info{
    padding: var(--padding);
    display: flex;
    color: var(--whiter);
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.617);
    border-radius: 0px 0px 20px 20px;
}

.info_paragraph{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    border-right: 1px solid var(--whiter);
}

.info_paragraph > p{
    margin: 6px;
}

.card__plus{
    font-size: 10px;
    width: 30%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.card__plus > p{
    overflow-y: auto;
    max-height: 100%;
    width: calc(100% + 17px)
}

/* table{
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

td{
    border-right: 1px solid black;  
    padding: var(--padding); 
} */

